# --- For-Bot-Working --------- #
#git+https://github.com/subinps/pyrogram@inline-m
pyrogram == 1.4.16
TgCrypto
Pyromod
apscheduler
# --- For-Database ------------ #
sqlalchemy~=1.3.23
psycopg2-binary
feedparser

